.mantine-focus-auto
  .mantine-active
  .m_b1072d44
  .mantine-PasswordInput-visibilityToggle
  .m_8d3f4000
  .mantine-ActionIcon-root
  .m_87cf2631
  .mantine-UnstyledButton-root
  span
  svg {
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
}
/* TODO: make visibility icon bigger */
