.loginpage {
  background-color: #fcf9f9;
}

.FormContainer {
  /* width: 300px; */
  background-color: #fcf9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* padding: 0%; */
}

/* Style the labels */
.FormContainer label {
  display: block;
  font-weight: bold;
  text-align: left;
  color: black;
  background-color: #fcf9f9;
}

/* Style the login button */
.FormContainer Button {
  width: 100%;
  background-color: #f5cac3;
  color: #383838;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.FormContainer Button:hover {
  background-color: #f28482;
}

/* Style the sign-up link */
.FormContainer a {
  display: inline-block;
  color: #f28482;
  text-decoration: none;
  font-size: 14px;
}

.FormContainer a:hover {
  text-decoration: underline;
}

/* Style for error message */
.error-message {
  color: red;
}

.mantine-TextInput-input {
  --input-bd-focus: #356559ad;
}

.mantine-PasswordInput-input {
  --input-bd-focus: #356559ad;
}
