.header {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 90px;
}

/* Bliss in italics */
.header h1 {
  color: #f28482;
  font-style: italic bold;
  font-size: 80px;
  height: 100%;
  border: 0;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .header h1 {
    font-size: 60px;
    margin-left: 20px;
  }
}

.drawer {
  color: #383838;
  font-size: 18px;
}

.drawer .mantine-Drawer-header {
  color: #383838;
}

.drawer .mantine-Drawer-content {
  padding: 16px;
}

.drawer .mantine-Drawer-closeButton {
  background-color: #fefefef9;
}

.divider {
  display: flex;
  flex-direction: column;
}

.navbuttons {
  background-color: #fefefef9;
  font-size: 18px;
  border: none;
}
