.mantine-Rating-symbolBody {
  color: #f28482;
  padding: 0;
}

.mantine-Rating-starSymbol {
  padding: 0;
}

.mantine-Textarea-input {
  --input-bd-focus: #356559ad;
}

@media only screen and (max-width: 480px) {
  .mantine-Group-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
}
