.myprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.userContainer {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Ensure vertical stacking if needed */
  align-items: center;
}

/* Profile section */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

/* Profile image */
.profile img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  border: 2px solid #f5cac3;
}

/* Edit button */
.profile button {
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  padding: 0.3em 1em;
}

.profile button:hover {
  background-color: #f28482;
  color: white;
}

/* Name section */
.name {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

/* Input for file upload */
input[type="file"] {
  margin-right: 10px;
}

.m_4addd315 {
  color: black;
}
