.explorePage {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure full width */
}

.searchBar .mantine-Autocomplete {
  /* Ensure full width for autocomplete */
  width: 100%;
}

.searchBar button {
  background-color: #f5cac3;
  color: #615e5e;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.filters {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

#mantine-87eeh6sb8-label {
  font-size: 20px;
}

.m_8fdc1311 {
  display: flex;
}

.ratingFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.capAndPriceFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.filters button {
  background-color: #9cc0b7;
  color: #383838;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  margin: 10px auto;
}

.filters button:hover {
  background-color: #5cae99ad;
}

.vendorcardgrid {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.mantine-InputWrapper-root {
  width: 60%;
  color: black;
}
.mantine-Autocomplete-option {
  height: 50px;
  color: black;
  text-align: left;
}

.mantine-Accordion-content {
  padding: 0;
}

.mantine-Accordion-item {
  border: none;
}

.mantine-Accordion-control {
  padding: 0px;
  margin: 0px;
  height: 20px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mantine-Accordion-panel {
  padding: 10px;
  margin: 10px;
}

.mantine-Accordion-chevron {
  /* color: black; */
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 0 10px;
}
.mantine-Accordion-chevron svg {
  color: black;
  outline: 2px solid #356559ad;
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 0px;
  border-radius: 20%;
  /* background-color: black; */
}

.mantine-Pagination-root {
  margin: 0 auto;
}

.mantine-Pagination-control {
  background-color: #f5cac3;
  color: black;
}
.m_4addd315 {
  color: black;
  --pagination-active-bg: f5cac3;
}

.mantine-Pagination-control svg {
  padding: 0px;
  margin: 0px;
  width: 25px;
  height: 25px;
}

.mantine-Autocomplete-input {
  --input-bd-focus: black;
}

@media (max-width: 600px) {
  .filters {
    display: flex;
    flex-direction: column;
  }
}
