.homepageHeader {
  text-align: center;
  margin-top: 50px;
}

.homepageHeader h1 {
  font-size: 3em;
  line-height: 0.4em;
}

.homepageHeader h3 {
  font-size: 1em;
  margin-top: 50px;
  color: #f28482;
}
